

html, body {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Dark gray background */
  font-family: Arial, sans-serif; /* font family */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px; /* Fixed width for the card */
  margin: 100px auto; /* Center the card horizontally */
}

.card-img {
  box-shadow: 0 0 30px rgba(255, 69, 0, 0.5); /* Changed box-shadow color */
  transition: 0.3s;
  width: 100%; /* Adjusted card image width to fit the card */
  border-radius: 30px;
  background: linear-gradient(rgb(20, 52, 54), rgb(88, 136, 136));
}

.card-img > img {
  width: 100%; /* Adjusted image width to fit the card */
  height: auto;
  border-radius: 15px 15px 30px 30px;
  box-shadow: 0 0 30px rgba(255, 69, 0, 0.5); /* Changed box-shadow color */
  margin-top: -60px; /* Adjusted top margin */
}

.container {
  padding: 5px;
  text-align: center;
  color: white;
}

.containerGame {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

p {
  
  line-height: 1.6;
  color: #666;
}

li{
    line-height: 1.8;
}

button {
  width: 120px;
  height: 30px;
}

a{
  text-decoration: none;
  color: #000;
}